{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
{% block navigation %}
{% include 'app/navigation.html.twig' %}
{% endblock %}

{% block content %}
{% set interactions = letters %}
{% set characters = [] %}



<h2>Interactions</h2>
<div class="cols">
  {% for interaction in interactions %}
    <div class="col">
      <div class="container">
        <div class="front" style="background-image: url('https://images.unsplash.com/photo-1550404065-b27f9dcdf8c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80')">
          <div class="inner">
            <p>{{ interaction.title | slice (0,-4)}}</p>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            {% for interaction in interactions %}
            {% if interaction.sender not in characters %}
                {% set characters = characters|merge([interaction.sender]) %}
            {% endif %}
            {% if interaction.receiver not in characters %}
                {% set characters = characters|merge([interaction.receiver]) %}
            {% endif %}
        {% endfor %}
        {% set characters = characters|sort %}
        {% set interactions = interactions|sort %}
        {% set interactions = interactions|reverse %}
        <p>De {{interaction.sender}}</p>
        <p>À {{interaction.receiver}}</p>
            <a class="readMore" href="{{ path('app_letter_crud_show', {'id': interaction.id}) }}">Lire la suite</a>

        </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}



{% endblock %}
