{%block navigation %}
<nav id="navbar">
    <ul>
        <li><a href="{{ path('app_character_crud_index') }}">Personnages</a></li>
        <li><a href="{{ path('app_letter_crud_index') }}">Lettres</a></li>
    </ul>
</nav>

{%endblock %}