{% extends 'base.html.twig' %}

{% block title %}letter index{% endblock %}

{% block body %}
{% include 'app/navigation.html.twig' %}
<div class="wrapper">
    <h1>Liste des personnages</h1>
    <div class="cols">
      {% for letter in letters %}
        <div class="col">
          <div class="container">
            <div class="front" style="background-image: url('https://images.unsplash.com/photo-1471107340929-a87cd0f5b5f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1373&q=80')">
              <div class="inner">
                <!-- letter.title -4 derniers characteres -->
                <p>{{ letter.title|slice(0, -4) }}</p>
            </div>
            </div>
            <div class="back">
              <div class="inner">
             <!-- uniquement la deuxième ligne  de content-->
             {% set lines = letter.content|split('\n') %}
                <p>{{ lines[1] }}</p>
             <a class="readMore" href="{{ path('app_letter_crud_show', {'id': letter.id}) }}">Lire la lettre</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
      



 
{% endblock %}
