{% extends 'base.html.twig' %}

{% block title %}New Letter{% endblock %}

{% block body %}
    <h1>Create new Letter</h1>

    {{ include('letter_crud/_form.html.twig') }}

    <a href="{{ path('app_letter_crud_index') }}">back to list</a>
{% endblock %}
