{% extends 'base.html.twig' %}

{% block title %}Hello OfficerController!{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-3 mb-4">galaxies</h1>
        <div class="row">
            {% for galaxy in galaxies %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="https://via.placeholder.com/200x150" alt="{{ galaxy.name }}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ galaxy.name }}</h5>

                            <div class="d-flex justify-content-between align-item-center">
                                <a href="{{ path('galaxies_details', {id: galaxy.id}) }}" class="btn btn-dark">View details</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}