{% extends 'base.html.twig' %}

{% block title %}Hello NaturalSatelliteController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-3 mb-4">
            <div class="col-md-4">
                <img src="https://via.placeholder.com/600x400" alt="{{ natural_satellite.name }}" class="img-fluid">
            </div>
            <h2>{{ natural_satellite.name }}</h2>

        </div>
    </div>
{% endblock %}