{% extends 'base.html.twig' %}

{% block title %}Character index{% endblock %}

{% block body %}
{% include 'app/navigation.html.twig' %}
<div class="wrapper">
    <h1>Liste des personnages</h1>
    <div class="cols">
      {% for character in characters %}
        <div class="col">
          <div class="container">
            <div class="front" style="background-image: url('https://images.unsplash.com/photo-1471107340929-a87cd0f5b5f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1373&q=80')">
              <div class="inner">
                <p>{{ character.name }}</p>
              </div>
            </div>
            <div class="back">
              <div class="inner">
                <!-- trim description -->
                <p>{{ character.description|slice(0, 100) }}...</p>
                <a class="readMore" href="{{ path('app_character_crud_show', {'id': character.id}) }}">Lire la suite</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
      



 
{% endblock %}
